aws {
    accessKey = 'INSERT HERE'
	secretKey = 'INSERT HERE'
	region = 'ap-southeast-1'
    batch {
      cliPath = '/home/ec2-user/miniconda3/bin/aws'
    }
}

process {
//ignore errors, which will also result in downstream processes to not be attempted for a failed sample
    errorStrategy = 'ignore'

    // Process-specific resource requirements
    withLabel:process_small {
        executor = 'awsbatch'
		queue = 'MTX_small_queue'
		memory = { task.attempt > 1 ? 15.GB : 6.GB }
		cpus = { task.attempt > 1 ? 4 : 2 }
		errorStrategy = 'ignore'
    }
    withLabel:process_medium {
		executor = 'awsbatch'
		queue = 'MTX_medium_queue'
		memory = { task.attempt > 1 ? 62.GB : 36.GB }
		cpus = 8
		errorStrategy = 'ignore'
    }
    withLabel:process_high {
        executor = 'awsbatch'
		queue = { task.attempt > 1 ? 'MTX_high_retry_queue' : 'MTX_high_queue' }
		memory = { task.attempt > 1 ? 140.GB : 60.GB }
		cpus = 32
		errorStrategy = 'ignore'
    }
    withLabel:process_highmem {
        executor = 'awsbatch'
		queue = { task.attempt > 1 ? 'MTX_high_retry_queue' : 'MTX_highmem_queue' }
		memory = { task.attempt > 1 ? 140.GB : 110.GB }
		cpus = 32
		errorStrategy = 'ignore'
    }
}

params {
	
	
	//NCBI metadata for reference genomes
	genome_metadata					= 's3://mtx-nextflow-bucket/MTX_databases/bacteria_and_fungi_assembly_summary_ref_genome_fmt.txt'
	
	//Blast database folder. Database has genes from hg38, tRNA and bacterial/fungal LSU and SSU from Silva
	blastdb					= 's3://mtx-nextflow-bucket/MTX_databases/blastdb/human_RNA_tRNA_silva_138_2'
