//https://docs.sylabs.io/guides/3.2/user-guide/cli/singularity_pull.html
//https://www.nextflow.io/docs/edge/container.html
//Or define the full path to singularity images for local installations
singularity.enabled = true
process {
    // Process-specific containers
	withName:DOWNLOAD_TARGETS {
        container = 'chiamh/process_fasta:latest'
    }
	withName:EXTRACT_SEQS {
        container = 'chiamh/probe-design_main:latest'
    }
	withName:PROBE_MINING {
        container = 'chiamh/probemining:latest'
    }
	withName:BLAST {
        container = 'chiamh/blast:latest'
    }
	withName:BLAST_REFINED {
        container = 'chiamh/blast:latest'
    }
	withName:PROBE_FILTERING {
        container = 'chiamh/process_fasta:latest'
    }
	withName:PROBE_FILTERING_REFINED {
        container = 'chiamh/process_fasta:latest'
    }
	withName:THERMOANALYSIS {
        container = 'chiamh/primer3_py:latest'
    }
	withName:PROBE_SHORTLIST {
        container = 'chiamh/process_fasta:latest'
    }
}
