params {
	
	//NCBI metadata for reference genomes
	genome_metadata					= '/home/ubuntu/volume3/SPATIAL/bacteria_and_fungi_assembly_summary_ref_genome_fmt.txt'
	
	//Blast database folder. Database has genes from hg38, tRNA and bacterial/fungal LSU and SSU from Silva
	blastdb				= '/home/ubuntu/volume3/SPATIAL/blastdb/human_RNA_tRNA_silva_138_2'
	
}
	
